DATABASE_URL=postgresql://user:password@localhost/dbname
JWT_SECRET=your_jwt_secret_key
BCRYPT_ROUNDS=Default is 10, but you can increase it for better security (e.g., 12 or 14)
NODE_ENV=set to "development" for development environment, "production" for production environment
PORT=port_number (e.g., 8080)
